{% if cart.item_count > 0 %}
  <h1>cart</h1>
  <form action="/cart" method="post" novalidate>
    <table>
      <thead>
        <th colspan="2">Prod</th>
        <th>Price</th>
        <th>Qty</th>
        <th>total</th>
      </thead>
      <tbody>
        {% for item in cart.items %}
          <tr>
            <td>
              <a href="{{ item.url | within: collections.all }}">
                <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
              </a>
            </td>
            <td>
              <a href="{{ item.url }}">{{ item.product.title }}</a>
              {{ item.variant.title }}
              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">remove</a>
            </td>
            <td>{{ item.price | money }}</td>
            <td>
              <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
            </td>
            <td>
              {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
              {{ item.line_price | money }}
              {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <!-- added by yoji Aug 27, 2021 -->
    <label for="AddInstructions">Add instructions</label>
    <input type="checkbox" id="AddInstructions" class="toggle" id="AddInstructions" />
    <div class="message">
      <label for="instructions" style="display: none;">Instructions</label>
      <textarea disabled name="attributes[Instructions]" id="instructions" cols="30" rows="10" placeholder="Write Instructions"></textarea>
    </div>
    <!-- end added by yoji Aug 27, 2021 -->    
    <div>
      <p>sub total : {{ cart.total_price | money }}</p>
      <button type="submit" name="update">Update</button>
      <button type="submit" name="checkout">Checkout</button>
    </div>
  </form>
{% else %}
  <h2>cart</h2>
  Cart is empty
{% endif %}
<!-- added by yoji Aug 28, 2021 -->
<style>
.message{ 
  display: none;
}
input.toggle:checked ~ .message{
  display: block;
  animation: fadein 1.5s;
}
@keyframes fadein{
  from{ opacity: 0; }
  to{ opacity: 1; }
}
</style>
<script>
// enable textarea with #instructions when the checkbox is checked
$(function(){
    $('#AddInstructions').click(function(){
        if($(this).is(":checked")){
            $('#instructions').prop('disabled', false);
            $('#instructions').focus();
        }
        else {
            $('#instructions').prop('disabled', true);
        }
    });
});
</script>
<!-- end added by yoji Aug 28, 2021 -->